* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
        box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #C0FDFB;
}
.Enunciado {
    background-color: #64B6AC;
    color: aqua;
    padding: 25px;
    position: fixed;
    max-width: fit-content;
}



.Pie {
    background-color: aquamarine;
    position: relative;
    padding: 25px;
    height: 80px;
    bottom: -1010px;
    text-align: center;
}


.Button {
    background-color: yellow;
    padding: 10px;
    margin: -150px 0 0 270px;
    bottom: 5000px;
    
}

.Container {
    display: flex;
    border: 3px solid brown;
    padding: 0px;
    position: relative;
    top: 100px;
    justify-content: space-between;
    margin: 10 10 0 0 ;
    
}


.Container div {
    background: #FCFFFD;
    height: 50px;
    flex: 1;
    font-size: 45px;
    text-align: center;
    
}

.Container > .Recetas {
    background-color: rgb(76, 218, 199);
    flex: 2;
}

.Platos {
    border: 3px solid black;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}